:host{
  .page-404 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 90vh;
      align-items: center;
      align-content: center;
      color: var(--black-base);
      text-align: center;
      justify-content: center;

      &__inner {
        display: inline-block;
      }

      &__h1 {
        font-size: 25vh;
        line-height: 25vh;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
      }

      &__p {
        opacity: 0.75;
        font-size: 3vh;
        line-height: 1;
        text-align: center;
        font-weight: normal;
        margin-bottom: 40px;
        margin: 1vh;

        &:hover > a {
          opacity: 1;
        }
      }
    }
}